# single files
TDT4102_C++/TDT4102aud2(no)_56391916_1587561584716/TDT4102aud2(no)/informasjon.pdf
TDT4110_ITGK/Øvinger/_Oving1.py
TDT4110_ITGK/Øvinger/aefisjnte.py
TDT4102_C++/Øvinger/øving 0/main.exe
TDT4102_C++/Øvinger/øving 0/main.obj
TFY4115_fysikk/Fysikklab.xlsx
TKJ4215_statterm/m_AB.pkl

# filetypes
*.pdf
*.zip
*.png
*MakeFile
*.txt
*.mp4
*.fuse_hidden*
*.synctex.gz
*.txt
*.mp4

# courses
TFY4185*
TFY4350*
EXPH0300

# folders
.vscode
__pycache__
*.build
*debug/
*release/
TDT4102_C++/TDT4102_Windows(5)

